.header {
    height: 70px;
    background: burlywood;
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}




.login-block {
    height: 70px;
    display: flex;
    align-items: center;
    float: right;
}

.login-block a {
    color: white;
}